{
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  // 플러그인에 옵션을 설정할 때는 배열로 만들어서 두 번째 자리에 옵션을 넣는다.
  // 템플릿 리터럴 플러그인에 loose 옵션을 주면 문자열을 연결할 때
  // concat 메서드 사용하는 대신 + 연산자를 사용한다.
  "plugins": [
    [
      "@babel/plugin-transform-template-literals",
      {
        "loose": true
      }
    ]
  ]
}